<div style="width: 1050px;height: 568px; background-repeat: no-repeat;
background-position: center;" [ngStyle]="{ 'background-image': 'url('+ data.image + ')'}">
    <button style="float: right !important;background-color: cornsilk; margin-top: 6px !important;
              margin-right: 5px !important; width: 30px;height: 30px;" mat-mini-fab class="buttonGroup"
        (click)="onNoClick()">
        <mat-icon style="color: black !important; float: right;text-align: center; padding: 1px;
                ">clear</mat-icon>
    </button>
</div>