<div class="container-fluid p-0" xmlns:svg="">
  <div class="row m-0 p-0 model-header">
    <div class="col-md-2 col-lg-2 col-sm-2 p-0 icon-container">
      <mat-icon fontSet="fas" fontIcon="fa-clone"></mat-icon>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 p-0 title-container">
      <h6 class="m-auto">Duplicate Facility</h6>
    </div>
  </div>
  <div class="row m-0 p-0 W-100 facility-view-container">
    <svg id="svgElem" class="svgTag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <svg:g id="shapeGroup">
      </svg:g>
    </svg>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <div>
      <!-- <mat-form-field>
        <mat-label>Facilities</mat-label>
        <mat-select [(ngModel)]="selectedFacilities" multiple>
          <mat-option [value]='facility' *ngFor="let facility of facilities">{{facility.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field>
        <mat-select [formControl]="facilitiesMultiCtrl" placeholder="Facility" [multiple]="true" #multiSelect>
          <ngx-mat-select-search [formControl]="facilityMultiFilterCtrl"></ngx-mat-select-search>
          <mat-option *ngFor="let facility of filteredFacilitiesMulti | async" [value]="facility">
            {{facility.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="selected-facility-tap" *ngFor="let facility of facilitiesMultiCtrl?.value; let i = index">
      {{facility.name  }}
      <mat-icon fontSet="fas" fontIcon="fa-times-circle" style="cursor: pointer" (click)="removeSelectedFacility(i)">
      </mat-icon>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-2 p-3">
    <button mat-flat-button class="default-button mr-1" [mat-dialog-close]="true">Cancel</button>
    <button mat-flat-button class="default-button" [mat-dialog-close]="true"
      [disabled]="facilitiesMultiCtrl?.value?.length < 1" (click)="duplicateFacility()">
      Duplicate
    </button>
  </div>
</div>