@import "../../../../../color-theme.scss";

.venueMapLayoutArea {
  background-color: $primary;
  .right-area {
    width: 300px;
    height: -webkit-fill-available;

    #facility-panel {
      position: relative;
    }

    .panel:not(:last-child) {
      margin-bottom: 10px;
    }

    .panel-header {
      width: 100%;
      height: 30px;
      line-height: 30px;
      background-color: white;
      color: $default-color;
      font-weight: 600;
      position: relative;
      cursor: pointer;

      .panel-header-image {
        height: 30px;
        width: 30px;
        background-color: $hover-bgcolor;
        color: $hover-color;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 20px;
        }
      }

      .panel-header-info {
        position: absolute;
        right: 0;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 20px;
        }
      }
    }

    .panel-header:hover {
      background-color: $hover-bgcolor;
      color: $hover-color;
    }

    .selected-panel-header {
      background-color: $hover-bgcolor;
      color: $hover-color;
      z-index: 10;
    }

    .search-box {
      // background-color: white;
      // border: 1px solid black;
      // width: -webkit-fill-available;
      // position: absolute;
      // z-index: 1;
      width: 100%;
      background-color: white;
      transition: height 0.3s;
      -webkit-transition: height 0.3s;
      -ms-transition: height 0.3s;
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: hidden;
      z-index: 1;
      position: absolute;

      .search-box-content {
        position: relative;
        margin-left: 20px;

        .search-button-row button,
        .search-button-row a {
          left: 100px;
          top: 10px;
          margin-right: 8px;
          font-size: 12px;
        }
      }
    }

    .panel-content {
      width: 100%;
      background-color: white;
      transition: height 0.3s;
      -webkit-transition: height 0.3s;
      -ms-transition: height 0.3s;
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: auto;
      position: relative;

      .panel-content-card {
        height: 120px;
        padding: 3px !important;
        cursor: pointer;

        .panel-content-item {
          background-color: $svg-backgroundColor !important;
          padding: 8px;
          height: 100%;

          .panel-content-image {
            height: 88%;
            svg {
              background-color: transparent !important;
            }
          }
          .panel-content-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: -webkit-fill-available;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-weight: 500;
            color: $default-color;
          }
        }
      }
      .images {
        height: 100px;
        padding: 3px !important;
        cursor: pointer;
        .picture {
          height: 100%;
          width: 100%;
          border: 2px $default-color;
        }
      }
    }

    .panel-content:hover {
      //overflow: auto;
    }

    .panel-content::-webkit-scrollbar {
      //display: none; /* Safari and Chrome */
    }
  }

  .left-area {
    position: relative;
    // background-color: white;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    .venueMapLayoutName {
      position: absolute;
      left: 20px;
      top: 12px;

      ::ng-deep .mat-form-field-infix {
        border-top: none !important;
        color: $default-color;
        cursor: pointer !important;
        height: 25px;
      }
      // ::ng-deep .mat-form-field-wrapper {
      //   width: 200px !important;
      // }
      ::ng-deep .mat-form-field-underline {
        background-color: $default-color !important;
      }

      .btn-action-group {
        .action-btn {
          width: 20px;
          height: 20px;
          margin-top: 3px;
          line-height: 25px;
          border-radius: 50%;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          i {
            font-size: 15px;
            font-weight: bold;
          }
        }

        .action-btn:hover {
          background-color: $hover-bgcolor;
          color: $hover-color;
        }
      }
    }

    .scaleRatio {
      position: absolute;
      left: 50%;
      top: 15px;
    }

    .nonEditableVenueMapName {
      cursor: pointer !important;
      ::ng-deep .mat-form-field-underline {
        display: none;
        position: relative !important;
        width: fit-content !important;
      }
    }

    .button-icon-group {
      position: absolute;
      right: 10px;
      top: 16px;

      .button-icon {
        width: 30px;
        height: 30px;
        background-color: $default-bgcolor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(145, 160, 173, 1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(145, 160, 173, 1);
        box-shadow: 0px 0px 2px 0px rgba(145, 160, 173, 1);
        cursor: pointer !important;

        i {
          font-size: 20px;
          color: $default-color;
        }
      }

      .button-icon:hover {
        background-color: $hover-bgcolor;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(145, 160, 173, 1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(145, 160, 173, 1);
        box-shadow: 0px 0px 5px 0px rgba(145, 160, 173, 1);

        i {
          font-size: 20px;
          color: $hover-color;
        }
      }
    }

    .button-group {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  .mouseIcon {
    cursor: url("../../../../../assets/icons/circle.cur"), auto;
  }
}

.mat-input-element {
  caret-color: $default-color;
}
